<div>

    <div class="d-flex justify-content-between">
      <h4>Nova Pessoa</h4>
      <a routerLink="/pessoa/index" class="btn btn-primary">Voltar</a>
    </div>
  
    <hr/>
  
      <form [formGroup]="form" (ngSubmit)="submit()">
  
          <div class="form-group row">
              <div class="col-md-6 ">
                <label for="nome">Nome:</label>
                <input
                  formControlName="nome"
                  id="nome"
                  type="text"
                  class="form-control">
                  <div *ngIf="f['nome'].touched && f['nome'].invalid" class="alert alert-danger">
                    <div *ngIf="f['nome'].errors && f['nome'].errors['required']">*Nome é obrigatório!</div>
                    <div *ngIf="f['nome'].errors && f['nome'].errors['minlength']">*Favor inserir pelo o menos 6 caracteres.</div>
                    <div *ngIf="f['nome'].errors && f['nome'].errors['maxlength']">*Favor inserir até 30 caracteres.</div>
                  </div>
              </div>
          </div>

  
          <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Gravar</button>
      </form>
  </div>
